$them-color: #fd5044;

.top-shadow {
    box-shadow: 40px 42px 92px 51px #000000;
}

.top-line{
  padding: 10px 0px;
    align-items: center;
i {
    color: $them-color;
} 

a {
    color: #fff;
}
p {
    margin: 0 !important;
}
 ul.social-icon li {
   margin-left: 20px;
   transition: all 0.3s ease-in-out;
        i {
            color: #fff;
            font-size: 15px;
            &:hover{
            color: $them-color;
            }
        }
}
}
.top-navbar ul li a{
    color: #fff;
    transition: all 0.3s ease-in-out;
    &.active{
        color: $them-color;
    }
    &:hover{
        color: $them-color;
    }
}


// Animation to fade in the dropdown menus
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

// Assigning the above animation to all dropdown menus
.dropdown-menu{
    &.show{
        -webkit-animation: fadeIn 0.3s alternate; /* Safari 4.0 - 8.0 */
         animation: fadeIn 0.3s alternate;
    }
}

// Mega Menu adjustments
.nav-item.dropdown.dropdown-mega{
    position: static;
    .dropdown-menu{
        width: 90%;
        top: auto;
        left: 5%;
    }
}

// Complete styles for main navbar toggler and hamburger menu
.navbar-toggler{
    border: none;
    padding: 0;
    outline: none;
    &:focus{
        box-shadow: none;
    }
    .hamburger-toggle{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 11;
        .hamburger {
            position: absolute;
            transform: translate(-50%, -50%) rotate(0deg);
            left: 50%;
            top: 50%;
            width: 50%;
            height: 50%;
            pointer-events: none;
            span {
                width: 100%;
                height: 4px;
                position: absolute;
                background: #333;
                border-radius: 2px;
                z-index: 1;
                transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0), background 0.2s cubic-bezier(0.77,0.2,0.05,1.0), all 0.2s ease-in-out;
                left: 0px;
                &:first-child{
                    top: 10%;
                    transform-origin: 50% 50%;
                    transform: translate(0% -50%) !important;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translate(0,-50%);
                }
                &:last-child{
                    left: 0px;
                    top: auto;
                    bottom: 10%;
                    transform-origin: 50% 50%;
                }
            }
            &.active{
                span {
                    position: absolute;
                    margin: 0;
                    &:first-child{
                        top: 45%;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        left: 50%;
                        width: 0px;
                    }
                    &:last-child{
                        top: 45%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


.icons{
  display: inline-flex;
  margin-left: auto;
  a{
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
    &:hover{
      color: white;
      text-shadow: 0 0 30px white;
    }
  }
}

// Header
.custom-nav-height div#navbarSupportedContent ul.navbar-nav {
    text-align: right;
    float: right;
    width: 100%;
    display: inline-flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
}

.site-header { 
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
li.nav-item {
    padding-left: 25px;
   span {
        height: 39px;
        align-items: center;
        display: grid;
    }

    a{
        color: #fff !important;
        text-transform: uppercase;
        font-size: 15px;
     }
     :hover{
        color: $them-color !important;
    }
}
li.nav-item.active a{
    color: $them-color !important;  
 }
}